version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: .
    depends_on:
      - db
    environment:
      DB_USER: myuser
      DB_PASSWD: mypassword
      DB_HOST: db:5432
      DB_NAME: mydatabase

    ports:
      - "3000:3000"

volumes:
  db_data:
